[Unit]
Description=MAX Telegram Bridge
Requires=maxbridge-workers.service maxbridge-api.service maxbridge-cloudflared.service
After=maxbridge-workers.service maxbridge-api.service maxbridge-cloudflared.service

[Install]
WantedBy=multi-user.target
